@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';
@import '~flatpickr/dist/flatpickr.min.css';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Astrogadget';
    src: url('/fonts/astrogadget.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .font-astrogadget {
    font-family: 'Astrogadget', sans-serif;
  }